.message {
	background: #e0e0e0;
	padding: .3em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #505050;
	border-radius: .2em;
	box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.75) inset, .3em .3em .2em rgba(100, 100, 100, 0.4);
}

.message.prime {
  background: #0074d9;
  color: #1054a9;
}	
.message.success {
  background: #2ecc40;
  color: #108c20;
}
.message.warning {
  background: #ff851b;
  color: #cf651b;
}
.message.error {
  background: #ff4136;
  color: #af1116;
}
.message > header {
	font-style: bold;
	padding: .1em .5em;
	border: 0;
}	
.message > header > .close {
	top: 0;
	right: 0;
}
.message section {
	font-size: 80%;
	padding: .1em .8em;
}

.message-stack {
	position: fixed;
	top: 0;
	border-radius: 0.3em;
	padding: 0.1em 0.6em;
	z-index: 99;
}
@media all and (max-width: 700px) {
	.message-stack {
		position: static;
	}
}
@media print {
	.message-stack {
		position: static;
	}
}
